body {
  font-family: Apple Chancery, cursive;
  font-weight: 600;
  font-size: 1em;
  color: #1B0851;
  background-color: #EFAE55;
}

.heading {
	text-align: center;
	color: #1B0851;
}
sup {
  vertical-align: super;
  font-size: 0.7em;
  line-height: normal;
}   

td, th {
	border: 1px solid;
	padding: 0.6em;
  }

img {
  max-width: 100%;
  height: auto;
}

tr:hover{
	color: #630C0C;
	background-color: #AA5939;
	cursor: pointer;
}

table {
	background-color: #679FAA;
}

.color_hover :hover{
	background-color: #EFEF55;
	cursor: pointer;
}
